
@{
    ViewData["Title"] = "InsertTeam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-8">
                <div class="jumbotron">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Nombre Del Equipo</label>
                        <input type="text" class="form-control" id="nameTeam" placeholder="Soles..">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Etapa</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>Municipal</option>
                            <option>Estatal</option>
                            <option>Nacional</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Categoria</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>Profesional</option>
                            <option>Semi-Profesinal</option>
                            <option>Abierta</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Rama</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>Femenil</option>
                            <option>Baronil</option>
                        </select>
                    </div>
                    <div class="border-1">
                        <button type="button" class="btn btn-success">Guardar</button>
                        <button type="button" class="btn btn-danger">Cancelar</button>
                    </div>
                </div>
            </div>
         </div>
     </div>

